nav{
    background-color: #E5E5E5;
    display: flex;
    overflow: hidden;
}
nav{
    font-family: sans-serif;
    overflow: hidden;
}
.street{
    color: #6CB840;
}
.food{
    color: #E8AF51;
}   
.Menu-bar ul
{text-align: center;
    display: inline-flex;
    list-style: none;
    color: black;
}
.Menu-bar ul li 
{
    width: 80px;
    margin: 15px;
    padding: 15px;
    list-style: none;
    display: inline;
    padding: 25px;
    font-size: 17px;
    position: relative;
    z-index: 3;
    
}