
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.Menu-bar ul
{text-align: center;
    display: inline-flex;
    list-style: none;
    color: black;
}
.Menu-bar ul li 
{
    width: 80px;
    margin: 15px;
    padding: 15px;
    list-style: none;
    display: inline;
    padding: 25px;
    font-size: 17px;
    position: relative;
    z-index: 3;
    
}
.Menu-bar{
    background-color: #E5E5E5;
    overflow: hidden;
    font-family: sans-serif;

}
.streetfood,p
{
    text-align: left;
    padding: 20px;
}
.txt{
    display: flex;
    justify-content: space-around;
}
.circle-images{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    border: 2px dashed #6BB946;
    position: relative;
    z-index: 2;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.star{
    position: relative;
    z-index: 2;
}
#image1{
    transform: translate(-30px, 270px);
}
#image2{
    transform: translate(-28px, 50px);
}
#image6{
    transform: translate(230px, 280px);
}
#center{
    transform: translate(-20px, 450px);
}
#image4{
    transform: translate(310px, 50px);
}
#image3{
    transform: translate(150px, -70px);
}
.greencircle{
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: #B8E79C;
    transform: translate(570px,-1200px);
}